* {
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
  
}

.primary_bg {
    background-color: #F1F1F3;
}

/* Shared Styles */
.button_primary {
    padding: 17px 34px;
    border-radius: 8px;
    background: #006A50;
    border: 1px solid #006A50;
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.button_primary:hover {
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #09A15C;
    font-weight: 600;
}

.button_secondary {
    padding: 11px 20px;
    border-radius: 8px;
    background: #5490F5;
    border: 1px solid #5490F5;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease, 0.3s ease;
}

.button_secondary:hover {
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #09A15C;
    font-weight: 600;
}

.primary_heading {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.paragraph_primary {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Nav related Styles */

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.nav_title {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.nav_button {
    border: none;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #006A50;
    transition: 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.nav_button:hover {
    background-color: #006A50;
    color: #fff;
}



/* Banner Styles */
.banner_title {
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}


.banner_heading {
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner_container {
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    margin-bottom: 80px;
}

/* Pillar Section */
.vision_section{
    margin-bottom: 80px;
}
.pillar_cards{
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
}



.card_container {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    border: none;
    transition: 0.3s;
}

.card_container:hover {
    background: #C6E4D6;
}

.card_title {
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
}

.card_description {
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Vision related Styles */

.vision_content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#card_blue{
    background: rgba(84, 144, 245, 0.20);
}

#card_green{
    background: #C6E4D6;
}

#card_yellow {
    background: #F7EBCF;
}

#btn_blue {
    border: 1px solid #5490F5;
}

#btn_blue:hover{
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #5490F5;
}
#btn_green{
    background: #09A15C;
    border: 1px solid #09A15C;
    transition: 0.5s ease, color 0.5s ease;
}

#btn_green:hover{
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #09A15C;
}

#btn_yellow {
    background: #FFC239;
    border: 1px solid #FFC239;
    transition: 0.5s ease, color 0.5s ease;
}

#btn_yellow:hover{
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #FFC239;
}

.vision_quote {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    padding: 24px 24px 48px 24px;
}


#younus_quotes{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-bottom: 12px;
}
 
.dr_younus {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
/* Opinion Section Styles */
.table_container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 80px;
}

.table_heading {
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.15);   
}

.table_heading td {
    padding: 24px;
    font-size: 22px;
    font-weight: 600;

}

table tbody td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 600;
}

table tbody select {
    padding: 14px 20px;
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.select_class {
    text-align: center;
}

.select_ur_opinion {
    text-align: center;
}



/* News Section Styles */
.news_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    border-radius: 24px;
    background: #FFF;
    padding: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.news_date {
    display: flex;
    gap: 20px;
}

.news_image {
    border-radius: 24px;
    width: 400px;
    height: 300px;
}

.news_headline{
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.news_date {
    margin: 12px 0;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.news_content button {
    margin-top: 32px;
}

/* Donate Section Styles */

.donate_section {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

}


.donate_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.amount{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease, color 0.5s ease;
}

.amount:hover{
    background-color: #006A50;
    color: #fff;
}


#taka200 {
    background: #C6E4D6;
    transition: 0.5s ease, color 0.5s ease;
}

#taka200:hover {
    background-color: #006A50;
    color: #fff;
}

.donate_section input {
    width: 60%;
    padding: 20px 40px;
    color: rgba(14, 14, 14, 0.30);
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    border: none;  
    text-align: center; 
}

.donate_now {
    display: block;
    margin-top: 32px;
}

/* Newsletter Section */
.newsletter_section {
    text-align: center;
    border-radius: 24px;
    background: #C6E4D6;
    padding: 80px 100px;
    margin-bottom: 80px;
}

.newsletter_section p {
    margin-top: 24px;
}

.newsletter_form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

#newsletter {
    padding: 18px 350px 18px 20px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    color: rgba(14, 14, 14, 0.30);
    font-size: 16px;
    text-align: left;
}



#newsletter_submit{
    padding: 18px 40px;
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    border: 1px solid #006A50;
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

#newsletter_submit:hover{
    background-color: #F1F1F3;
    border: 1px solid gray;
    color: #09A15C;
    font-weight: 600;

}



/* Footer Section */
footer {
    background-color: #FFF;
    padding: 50px;
}
 .footer_container {
    text-align: center;
 }

.footer_image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer_line {
    margin: 32px 0;
    color: rgba(14, 14, 14, 0.10);
}